.cartContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  border-left: 1px solid black;
  height: 100%;
  padding: 3px;
  min-width: 200px;

}

.imageContainer {
  display: flex;
  flex-direction: column;
}

.img {
  cursor: pointer;
}

