.cartContainer {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px;
  /* border-left: 1px solid black; */
  height: 100%;
  min-width: 200px;
  background-color: #ccc;

}

.imageContainer {
  display: flex;
  flex-direction: column;
}

.img {
  cursor: pointer;
}

