.cart-container {
  position: absolute;
  right: 0px;
  top: 21px;
  padding: 14px;
  height: 97vh;
  min-width: 200px;
  background-color: #444;
  color: #eee;

}

.cart-container h2 {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  cursor: pointer;
  width: 140px;
  margin-top: 14px;
}

