.cart-body-container {
  margin: 4rem 5rem;
}

.cart-body {
  display: flex;
  margin: 2.4rem;
}

.title {
  text-align: center;
}

.body-img {
  height: 140px;
}

.cart-detail {
  margin: 1.4rem;
}


.prod-title {

}

.prod-price {

}

.checkout-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* position: absolute;
  bottom: 20px;
  right: 60px; */
  /* left: calc(80% - 11rem); */
  z-index: 2;
}

.checkout-btn {
  width: 22rem;
  height: 3rem;
}