.reg-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 400px;
}

.reg-input-container {

}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.acc-val-ipt {
  display: block;
  height: 30px;
  width: 300px;
  outline: none;

}

.already-signed-in-err {
  margin: 10vh 10vw;
  padding: 20px;
  border-left: 4px solid var(--theme-info-border);
  /* border-radius: 14px; */
  font-size: 1.2rem;
  background-color: #111;
}