.sign-in-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 400px;
}

.already-signed-in-err {
  margin: 20vh 20vw;
  padding: 20px;
  border-left: 4px solid var(--theme-error-border);
  /* border-radius: 14px; */
  font-size: 1.2rem;
  background-color: #e3e3e3;
}

.sign-out-text {
  cursor: pointer;
  text-decoration: underline;
}