.product-details-page {
  padding: 14px;
}

.details-container {
  max-width: calc(97vw - var(--cart-sidebar-width));
}

.img-details-container {
  display: flex;
  width: 68vw;
  justify-content: space-between;

}

.img-sets-container {
  max-width: 40vw;
  /* max-height: 200px; */
}

.image-gallery-slide {
  min-height: 480px;
  max-width: 500px;
}

.main-details {

}

.description {

}