html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Ubuntu, sans-serif;
  background-color: #333;
  color: #ddd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* */
.App {
  min-height: 97vh;
}

.item-container {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  /* cursor: pointer; */
  margin-bottom: 40px;
  justify-content: center;
}

.center-this {
  display: flex;
  justify-content: center;
}

.item {
  cursor: pointer;
}

.title,
.price
{
  position: relative;
  left: 40px;
  top: 10px;

}

.item-image {
  height: 200px;
  max-width: 200px;
  margin-top: 14px;
  /* display: flex; */
}

hr {
  width: 70%;
}

.short-hr {
  width: 160px;
  height: 1px;
}

.medium-hr {
  width:500px;
  height: 1px;
}

.products-link-btn {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}

.home-btn-container {
  position: relative;
  top: 50vh;
  left: 50vw;
}

.product-details-page {
  padding: 14px;
}

.back-btn {
  text-decoration: underline;
  cursor: pointer;
}

button.add-to-cart {
  padding: 4px 4px;
  width: 240px;
  height: 44px;
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.basic-material-btn {
  min-width: 8rem;
  min-height: 2rem;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}

.button {
  margin: 4px;
  width: 10rem;
  height: 2rem;
  border-radius: 4px;
  cursor: pointer;
}