html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* */

.item-container {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  /* cursor: pointer; */
  margin-bottom: 40px;
  justify-content: center;
}

.center-this {
  display: flex;
  justify-content: center;
}

.item {
  cursor: pointer;
}

.title,
.price
{
  position: relative;
  left: 40px;
  top: 10px;

}

.item-image {
  height: 200px;
  max-width: 200px;
  /* display: flex; */
}

.cart-container-old {
  /* display: flex; */
  justify-content: center;
  gap: 20px;
  margin-bottom: 4px;

}

.cart {
  cursor: pointer;
}

hr {
  /* margin-top: 40px; */
  width: 70%;
}

.short-hr {
  width: 100px;
}

.products-link-btn {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}

.home-btn-container {
  position: relative;
  top: 50vh;
  left: 50vw;
}

.back-btn {
  text-decoration: underline;
  cursor: pointer;
}

/* Cart */

.cart-container {
  position: absolute;
  right: 10px;
  top: 10px;
  border-left: 1px solid black;
  height: 100%;
  padding: 3px;
}